/tests export-ignore
/phpunit.xml export-ignore
/README.md export-ignore
/docker-compose.yml export-ignore
/Dockerfile export-ignore
/.gitignore export-ignore
/CHANGELOG.md export-ignore
/.phpunit.cache export-ignore